@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Dziki alarm</h1>
    <p>Github: <a href="https://github.com/MossPiglets/wild-alert-api">https://github.com/MossPiglets/wild-alert-api</a>.</p>
</div>
