@model IEnumerable<WildAlert.Application.Requests.SensorData.SensorDataDto>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div id="sensorData">
    <table class="table">
        <thead>
        <tr>
            <th>
                Zwierzę
            </th>
            <th>
                Data wykrycia
            </th>
            <th>
                Id
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var sensorData in @Model)
        {
            <tr>
                <td>@sensorData.DetectedAnimal</td>
                <td>@sensorData.DetectedAt.ToString("dd.MM.yyyy")</td>
                <td>@sensorData.Id</td>
            </tr>
        }
        </tbody>
    </table>
</div>
